<footer class="footer-bg ">
    <div class="footer-area pt-100 pb-20 container">
        <div class="footer-style-4">
            <div class="container">
                <div class="footer-grid-3">
                    <div class="footer-widget-8">
                        <div class="footer-logo mb-35">
                            <a href=""><img src="assets/imgs/logo/logo-light.svg" alt="image bnot found"></a>
                        </div>
                        <h2 class="mb-2">SIA Walls</h2>
                        <p>At SIA Walls, every wall becomes a canvas for self-expression. From timeless art to flexible
                            rentals, we make it effortless.
                        </p>
                        <!-- <div class="theme-social">
                            <a class="furniture-bg-hover" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="furniture-bg-hover" href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a class="furniture-bg-hover" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="furniture-bg-hover" href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div> -->
                    </div>
                    <div class="footer-widget-4">
                        <div class="footer-widget-title">
                            <h4 class="text-dark">Get in Touch</h4>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/products">Artworks</a></li>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="footer-widget-4">
                        <div class="footer-widget-title">
                            <h4 class="text-dark">Follow Us</h4>
                        </div>
                        <div class="footer-link">
                            <ul>
                                <li>
                                    <img src="assets/imgs/svg/facebook.svg" class="me-3" width="20" alt="">
                                    <a class="furniture-bg-hover" href="#"> Facebook</a>
                                </li>
                                <li>
                                    <img src="assets/imgs/svg/twitter.svg" class="me-3" width="20" alt="">
                                    <a class="furniture-bg-hover" href="#"> X</a>
                                </li>
                                <li>
                                    <img src="assets/imgs/svg/instagram.svg" class="me-3" width="20" alt="">
                                    <a class="furniture-bg-hover" href="#"> Instagram</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-copyright-area b-t">
            <div class="footer-copyright-wrapper">
                <div class="footer-copyright-text">
                    <p class="mb-0 text-dark">© 2025 SIA Walls All rights reserved.</p>
                </div>

                <!-- <div class="footer-conditions">
                    <ul>
                        <li><a class="furniture-clr-hover text-dark" href="#">Terms & Condition</a></li>
                        <li><a class="furniture-clr-hover text-dark" href="#">Privacy Policy</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>