<!-- Back to top start -->
<div class="backtotop-wrap cursor-pointer">
    <svg class="backtotop-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<!-- Back to top end -->


<!-- Offcanvas area start -->
<div class="fix">
    <div class="offcanvas__info " [class.info-open]="isInfoOpen">
        <!-- info-open -->
        <div class="offcanvas__wrapper">
            <div class="offcanvas__content">
                <div class="offcanvas__top mb-40 d-flex justify-content-between align-items-center">
                    <div class="offcanvas__logo">
                        <a href="">
                            <img src="assets/imgs/logo/logo-light.svg" alt="logo not found">
                        </a>
                    </div>
                    <div class="offcanvas__close" (click)="closeInfo()">
                        <button>
                            <i class="fal fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="offcanvas__contact mt-30 mb-20">
                    <!-- <h4>Contact Info</h4> -->
                    <ul>
                        <li>
                            <a routerLink="" (click)="closeInfo()">Home</a>
                        </li>
                        <li>
                            <a routerLink="about" (click)="closeInfo()">About</a>
                        </li>
                        <li>
                            <a routerLink="products" (click)="closeInfo()">Shop</a>
                        </li>
                        <li>
                            <a routerLink="contact" (click)="closeInfo()">Contact</a>
                        </li>
                        <!-- <li>
                            <a (click)="openPopup()" class="btn btn-dark mb-4 mt-4 btn-style">Inquire ➝</a>
                        </li> -->
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="offcanvas__overlay "></div>
<!-- overlay-open -->
<div class="offcanvas__overlay-white"></div>
<!-- Offcanvas area start -->

<!-- Header area start -->
<header>
    <div class="header container">
        <div class="header-layout-4 header-bottom">
            <div id="header-sticky" class="header-4">
                <div class="mega-menu-wrapper container">
                    <div class="header-main-4">
                        <div class="header-left">
                            <div class="header-logo">
                                <a href="">
                                    <img src="assets/imgs/logo/logo.svg" alt="logo not found">
                                </a>
                            </div>

                        </div>
                        <div class="header-right d-inline-flex align-items-center justify-content-end">
                            <div class="mean__menu-wrapper furniture__menu d-none d-lg-block">
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li>
                                                <a routerLink="">Home</a>
                                            </li>
                                            <li>
                                                <a routerLink="about">About</a>
                                            </li>
                                            <li>
                                                <a routerLink="products">Shop</a>
                                            </li>
                                            <li>
                                                <a routerLink="contact">Contact</a>
                                            </li>
                                            <li>
                                                <a (click)="openPopup()"
                                                    class="btn btn-dark mb-4 mt-4 btn-style">Inquire ➝</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="header-humbager ml-30 d-lg-none d-block">
                                <a class="sidebar__toggle" (click)="openInfo()">
                                    <div class="bar-icon-2">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- for wp -->
                                <div class="header__hamburger ml-50 d-none">
                                    <button type="button" class="hamburger-btn offcanvas-open-btn">
                                        <span>01</span>
                                        <span>01</span>
                                        <span>01</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Popup Overlay -->
<div class="popup-overlay" *ngIf="isPopupOpen" (click)="closePopup()"></div>

<!-- Popup Content -->
<div class="popup-content" *ngIf="isPopupOpen">
    <div class="d-flex justify-content-between align-items-center mb-5 border-1 border-bottom pb-10">
        <h5 class="mb-0">Buy Art</h5>
        <button type="button" class="close-btn-icon btn-close" aria-label="Close" (click)="closePopup()"></button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <form (ngSubmit)="submitForm()" #buyArtForm="ngForm">
        <div class="mb-4 text-left mt-10">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" [(ngModel)]="formData.name" name="name" class="form-control"
                placeholder="Enter your name" required>
        </div>

        <div class="row mb-4">
            <div class="col-md-6 mb-4 mb-md-0 text-left">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" id="phone" [(ngModel)]="formData.phone" name="phone" class="form-control"
                    placeholder="Enter mobile number" required>
            </div>
            <div class="col-md-6 text-left">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" [(ngModel)]="formData.email" name="email" class="form-control"
                    placeholder="Enter email" required>
            </div>
        </div>

        <div class="mb-4 text-left">
            <label for="productId" class="form-label">Enquiry</label>
            <input type="text" id="productId" [(ngModel)]="formData.productId" name="productId" class="form-control"
                placeholder="Enter your comments" required>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-30">
            <button type="button" class="btn btn-outline-dark btn-style text-dark" (click)="closePopup()">
                Cancel <span class="ms-2"><img src="assets/imgs/svg/btn-close.svg"></span>
            </button>
            <button type="submit" class="btn btn-dark btn-style">
                Submit <span class="ms-2"><img src="assets/imgs/svg/btn-tick.svg"></span>
            </button>
        </div>
    </form>
</div>


<!-- Header area end -->