<main>
    <!-- Breadcrumb area start  -->
    <div class="breadcrumb__area theme-bg-1 p-relative z-index-11 pt-95 pb-95">
        <div class="breadcrumb__thumb" style="background-image: url(assets/imgs/product/bg.svg);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper text-center">
                        <h2 class="breadcrumb__title">Contact Us</h2>
                        <div class="breadcrumb__menu">
                            <nav>
                                <ul>
                                    <!-- <li><span><a href="index.html">Home</a></span></li> -->
                                    <li><span>Whether you're looking to rent, buy, or sell timeless artworks, SIA Walls
                                            is your trusted partner in every step of the journey. From expert guidance
                                            to personalized recommendations, we’ve got you covered. Reach out to us for
                                            inquiries, support, or a curated art experience.</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area start  -->
</main>