<!-- Body main wrapper start -->
<main>
    <!-- Breadcrumb area start  -->
    <div class="breadcrumb__area theme-bg-1 p-relative z-index-11 pt-95 pb-95">
        <div class="breadcrumb__thumb" style="background-image: url(assets/imgs/product/bg.svg);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper text-center">
                        <h2 class="breadcrumb__title">Artworks</h2>
                        <div class="breadcrumb__menu">
                            <nav>
                                <ul>
                                    <!-- <li><span><a href="index.html">Home</a></span></li> -->
                                    <li><span>Explore a diverse collection of handpicked artworks designed to elevate
                                            any space. From bold abstracts to calming landscapes, each piece tells a
                                            unique story. Available to buy or rent - with flexible options that suit
                                            your style and budget. Discover art that fits your walls and reflects your
                                            personality.</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area start  -->

    <!-- Product area start -->
    <section class="bd-product__area section-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-80">
                    <h2>Curated Art Collections</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="product__filter-tab">
                        <div class="row g-5">
                            <div *ngFor="let product of products" class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <a>
                                            <img [src]="product.image || 'assets/imgs/product/placeholder.png'"
                                                [alt]="product.name"
                                                (error)="product.image='assets/imgs/product/general-img-landscape.png'">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-tag">
                                            <span>{{ product.category }}</span>
                                        </div>
                                        <h4 class="product-title">
                                            <a>{{ product.name }}</a>
                                        </h4>
                                        <div class="product-tag artist">
                                            <span>Artist: <strong>{{ product.artist }}</strong></span>
                                        </div>
                                        <h4 class="product-title"> Rent : {{ product.rent }}/<span
                                                class="product-rent">{{ product.rent_type }}</span>
                                        </h4>
                                        <h4 class="product-title"> Buy : {{ product.buy }} </h4>
                                        <button class="btn product-view-btn"
                                            [routerLink]="['/product', product.id]">View Details</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="products.length === 0">
                                <p>No products found!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Product area end -->

</main>
<!-- Body main wrapper end -->