<main>
    <!-- Breadcrumb area start  -->
    <div class="breadcrumb__area theme-bg-1 p-relative z-index-11 pt-95 pb-95">
        <div class="breadcrumb__thumb" style="background-image: url(assets/imgs/product/bg.svg);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper text-center">
                        <h2 class="breadcrumb__title">About Us</h2>
                        <div class="breadcrumb__menu">
                            <nav>
                                <ul>
                                    <li><span>At SIA Walls, we bring art to life—rent, buy, or sell paintings with ease.
                                            We believe every space deserves a masterpiece and every artist a stage. Our
                                            curated collection connects art lovers with timeless creations, making art
                                            accessible, personal, and unforgettable.</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb area start  -->
</main>