<!-- Hero Section -->
<section class="hero-section hero-image">
    <div class="container">
        <h2>Transform Your Space With <span class="highlight">Fine Art</span></h2>
        <p class="lead mb-0">Experience the transformative power of exceptional artwork in your Residence or Business.
        </p>
        <p class="lead"> Rent or buy masterpieces that speak to your soul.</p>
        <a href="#" class="btn btn-dark mb-4 mt-4 btn-style">Inquire ➝</a>
    </div>
</section>

<!-- Process Section -->
<section class="process-section text-center">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="mb-4 crimson how-work-wall">How SIA Walls Works</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                <p class="text-muted mb-5 mxw-80">SIA Walls makes bringing art into your life effortless. Rent or buy
                    curated
                    pieces
                    with a seamless process - from selection to setup and swaps, we handle it all.</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="stepper">
                    <div class="step">01</div>
                    <div class="step">02</div>
                    <div class="step">03</div>
                    <div class="step">04</div>
                    <div class="step-line"></div>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/1.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Choose Your Artwork</h6>
                    <p>Browse our collection and discover the perfect piece. Select the ones that speak to you and make
                        it yours today!</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/2.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Optional Professional Setup</h6>
                    <p>Our expert handyman take care of the installation for you. Sit back and relax—we’ll handle every
                        detail with care.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/3.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Convenient Delivery or Pickup</h6>
                    <p>Enjoy hassle-free delivery or pickup at your convenience. We ensure your artwork arrives safely
                        and on time.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/4.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Flexible Art Swapping</h6>
                    <p>Refresh your space anytime by swapping your artwork for a new piece. It's easy, flexible, and
                        completely stress-free.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info Section -->
<section class="info-section d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center g-5">
            <div class="col-md-1"></div>
            <div class="col-md-6 order-md-1 order-2">
                <h2 class="">SIA Walls</h2>
                <p>At SIA Walls, we believe every wall deserves a story. We’re a curated marketplace where you can rent
                    or buy unique paintings and art pieces thoughtfully selected to bring beauty, meaning, and
                    personality into any space.</p>
                <p>Whether you're a home or business owner seeking to refresh your space seasonally while supporting
                    local artists, or an art lover looking to own a local piece that speaks to you—SIA Walls makes it
                    simple, accessible, and inspiring.</p>
                <p>With flexible rental and buying options, expert installation support, and a smooth art-swapping
                    process, we’re here to help you surround yourself with creativity—without compromise.</p>
                <!-- <a href="#" class="btn btn-dark">Read More ➝</a> -->
                <a href="#" class="btn btn-dark mb-4 mt-4 btn-style">Read More ➝</a>

            </div>
            <div class="col-md-5 order-md-2 order-1 text-center">
                <img src="assets/imgs/home/3/wall.svg" alt="Artwork example">
            </div>
        </div>
    </div>
</section>