<!-- Hero Section -->
<section class="hero-section hero-image">
    <div class="container">
        <h2>Transform Your Space With <span class="highlight">Fine Art</span></h2>
        <p class="lead mb-0">Experience the transformative power of exceptional artwork in your Residence or Business.
        </p>
        <p class="lead"> Rent or buy masterpieces that speak to your soul.</p>
        <a href="#" class="btn btn-dark mb-4 mt-4 btn-style">Inquire ➝</a>
    </div>
</section>

<!-- Process Section -->
<section class="process-section text-center">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
                <h2 class="mb-4 crimson how-work-wall">How SIA Walls Works</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                <p class="text-muted mb-5 mxw-80">SIA Walls makes bringing art into your life effortless. Rent or buy
                    curated
                    pieces
                    with a seamless process - from selection to setup and swaps, we handle it all.</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="stepper">
                    <div class="step">01</div>
                    <div class="step">02</div>
                    <div class="step">03</div>
                    <div class="step">04</div>
                    <div class="step-line"></div>
                </div>
            </div>
        </div>

        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/1.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Choose Your Artwork</h6>
                    <p>Browse our collection and discover the perfect piece. Select the ones that speak to you and make
                        it yours today!</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/2.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Optional Professional Setup</h6>
                    <p>Our expert handyman take care of the installation for you. Sit back and relax—we’ll handle every
                        detail with care.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/3.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Convenient Delivery or Pickup</h6>
                    <p>Enjoy hassle-free delivery or pickup at your convenience. We ensure your artwork arrives safely
                        and on time.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="process-card">
                    <div class="mb-3">
                        <img src="assets/imgs/home/2/4.svg" alt="Choose Artwork Icon">
                    </div>
                    <h6 class="text-left">Flexible Art Swapping</h6>
                    <p>Refresh your space anytime by swapping your artwork for a new piece. It's easy, flexible, and
                        completely stress-free.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info Section -->
<section class="info-section d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row align-items-center g-5">
            <div class="col-md-1"></div>
            <div class="col-md-6 order-md-1 order-2">
                <h2 class="">SIA Walls</h2>
                <p>At SIA Walls, we believe every wall deserves a story. We’re a curated marketplace where you can rent
                    or buy unique paintings and art pieces thoughtfully selected to bring beauty, meaning, and
                    personality into any space.</p>
                <p>Whether you're a home or business owner seeking to refresh your space seasonally while supporting
                    local artists, or an art lover looking to own a local piece that speaks to you—SIA Walls makes it
                    simple, accessible, and inspiring.</p>
                <p>With flexible rental and buying options, expert installation support, and a smooth art-swapping
                    process, we’re here to help you surround yourself with creativity—without compromise.</p>
                <!-- <a href="#" class="btn btn-dark">Read More ➝</a> -->
                <a href="#" class="btn btn-dark mb-4 mt-4 btn-style">Read More ➝</a>

            </div>
            <div class="col-md-5 order-md-2 order-1 text-center">
                <img src="assets/imgs/home/3/wall.svg" alt="Artwork example">
            </div>
        </div>
    </div>
</section>
<!-- feature start -->
<section class="feature-section section-space">
    <div class="container">
        <div class="section-title-wrapper-4 mb-40 text-center">
            <!-- <span class="section-subtitle-4 mb-10">top sale</span> -->
            <h2 class="section-title-4 text-white">Featured Artworks</h2>
            <p class=" text-white">Explore timeless pieces from our carefully curated collection - each one chosen for
                its beauty, distinct
                character, and the power to leave a lasting impression on any space.</p>
        </div>
        <div class="row align-items-center">
            <div *ngFor="let product of features" class="col-md-4 col-sm-6 mb-4">
                <div class="product-item">
                    <div class="product-thumb">
                        <a>
                            <img [src]="product.image || 'assets/imgs/product/placeholder.png'" [alt]="product.name"
                                (error)="product.image='assets/imgs/product/general-img-landscape.png'">
                        </a>
                    </div>
                    <div class="product-content">
                        <div class="product-tag  text-white">
                            <span class=" text-white">{{ product.category }}</span>
                        </div>
                        <h4 class="product-title">
                            <a class=" text-white">{{ product.name }}</a>
                        </h4>
                        <div class="product-tag artist">
                            <span class=" text-white">Artist: <strong>{{ product.artist }}</strong></span>
                        </div>
                        <h4 class="product-title  text-white"> Rent : {{ product.rent }}/<span
                                class="product-rent  text-white">{{
                                product.rent_type }}</span>
                        </h4>
                        <h4 class="product-title  text-white"> Buy : {{ product.buy }} </h4>
                        <button class="btn product-view-btn white-border text-white">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature end -->
<!-- Art Category start -->
<section class=" section-space">
    <div class="container">
        <div class="section-title-wrapper-4 mb-40 text-center">
            <!-- <span class="section-subtitle-4 mb-10">top sale</span> -->
            <h2 class="section-title-4">Art Categories</h2>
            <p>Browse diverse art categories in our curated collection—each piece selected for its unique style,
                compelling story, and ability to transform your space.</p>
        </div>
        <div class="discount-main p-relative">
            <div class="discount-slider-navigation furniture__navigation">
                <button type="button" class="discount-slider-button-prev"><i class="fa-regular fa-angle-left"></i>
                </button>
                <button type="button" class="discount-slider-button-next"><i
                        class="fa-regular fa-angle-right"></i></button>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="swiper furuniture-active row">
                        <div class="swiper-wrapper row">
                            <!-- swiper-slide  -->
                            <div class="col-md-4" *ngFor="let art of arts">
                                <div class="product-item furniture__product">
                                    <div class="product-thumb">
                                        <a><img [src]="art.bgimg" alt="Profile Picture"></a>
                                    </div>
                                    <div class="product-content p-3 ">
                                        <h4 class="product-title mb-3"><a>{{ art.name }}</a></h4>

                                        <div class="product-price">
                                            <img src="assets/imgs/home/art/arrow.svg" height="16px" alt="arrow">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Art Category end -->
<!-- faq-section -->
<section class="faq-section divider-section d-flex justify-content-center align-items-center">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 text-left">
                <p class="text-left">FAQ</p>
                <h2 class="text-left">Frequently Asked About Art & Rentals</h2>
            </div>
            <div class="col-md-8">
                <div class="faq-wrapper">
                    <div class="bd-faq">
                        <div class="accordion" id="accordionExample-st-2">
                            <div class="bd-faq-group">
                                <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
                                    <h2 class="accordion-header" [id]="'heading-' + faq.sno">
                                        <button class="accordion-button ps-4" [class.collapsed]="i !== 0" type="button"
                                            data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-' + faq.sno"
                                            [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                                            [attr.aria-controls]="'collapse-' + faq.sno">

                                            {{ faq.question }}
                                        </button>
                                    </h2>
                                    <div [id]="'collapse-' + faq.sno" class="accordion-collapse collapse text-left"
                                        [class.show]="i === 0" [attr.aria-labelledby]="'heading-' + faq.sno"
                                        data-bs-parent="#accordionExample-st-2">
                                        <div class="accordion-body text-left">
                                            {{ faq.answer }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section -->
<section class="testimonial-section d-flex justify-content-center align-items-center">
    <div class="container py-5">
        <div class="row align-items-center g-5 my-5">
            <div class="col-md-12 mb-4 text-center mt-5">
                <h2 class="crimson text-white">Our Client Reviews</h2>
                <p class="text-white mb-5">Hear from our satisfied customers who have transformed their spaces
                    with SIA Walls' curated art collection.</p>
            </div>
            <div class="col-md-4 mb-4" *ngFor="let item of items">
                <div class="bg-image" [style.background-image]="'url(' + item.bgimg + ')'">
                    <div class="testimonial-card p-4">
                        <img [src]="item.profileimg" alt="Profile Picture">
                        <h5 class="mt-3">{{ item.name }}</h5>
                        <small class="text-muted">{{ item.role }}</small>
                        <p class="mt-3">{{ item.description }}</p>
                        <div class="testimonial-stars">
                            <ng-container *ngFor="let star of [].constructor(item.starcount); let i = index">
                                <i class="bi bi-star-fill text-warning"></i>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>